@import url("https://fonts.googleapis.com/css2?family=Faustina:wght@400;500;700&display=swap");

* {
	margin: 0%;
	padding: 0%;
	font-family: "Faustina", serif;
	word-wrap: break-word;
}

/* Header Section */
h1 {
	margin: 0 auto;
	text-align: center;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-size: 130px;
}

h2 {
	margin: 0 auto;
	text-align: center;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-size: 40px;
}

header div a {
	color: black;
	font-size: 24px;
	font-weight: bold;
	text-emphasis: nowrap;
	text-decoration: none;
}
.top-header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;
	margin: 0 auto;
	padding: 25px 0px 0px 0px;
}
.nav-0 /* Logo */ {
	order: 1;
}

.nav-1 /* Contact us */ {
	order: 2;
	text-transform: uppercase;
}

header div a:hover {
	text-decoration-line: underline;
	color: #707070;
}
.nav-2 /* About us */ {
	text-transform: uppercase;
	order: 4;
}
.nav-3 /* Search box */ {
	order: 3;
}

.nav-4 /* Icon Section in Nav */ {
	font-size: 12px;
	word-spacing: 15px;
	order: 5;
}
/* Search Section*/
header div input {
	min-width: 350px;
	min-height: 30px;
	text-align: center;
	border-radius: 100px;
	background-color: rgba(220, 220, 220, 0.1);
}

/* Positioning of Nav section*/
header div img /* Logo size */ {
	width: 130px;
}

header div a {
	text-align: center;
}

/* Main Section images */

body {
	position: relative;
	background-image: url("../Images/Background\ Photo\ with\ blur.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	width: 100vw;
}

/* Main section Button */

.second-container {
	position: relative;
	top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
}
.third-container {
	position: relative;
	top: 150px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.woman-button {
	font-family: "Faustina", serif;
	background-color: #000000;
	font-size: 35px;
	border-radius: 243px;
	padding: 24px 40px;
}
.men-button {
	font-family: "Faustina", serif;
	background-color: #000000;
	font-size: 35px;
	border-radius: 243px;
	padding: 24px 70px;
}
main section div a {
	text-decoration: none;
	color: #fafafa;
}

.men-button:hover {
	background-color: #707070;
}
.woman-button:hover {
	background-color: #707070;
}

/* Mobile version
	Animations for Footer
	Create Footer */

@media (max-width: 1109px) {
	/* Header Section */
	h1 {
		margin: 60px 0px;
		text-align: center;
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
			"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
		font-size: 80px;
	}

	h2 {
		margin: -50px 0px;
		text-align: center;
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
			"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
		font-size: 30px;
	}

	header div a {
		color: black;
		font-size: 20px;
		font-weight: bold;
		text-emphasis: nowrap;
		text-decoration: none;
	}
	.nav-0 {
		grid-area: Logo;
		grid-column: 1/6;
		grid-row: 1/1;
	}
	.nav-1 {
		grid-area: Contact us;
		text-transform: uppercase;
		grid-column: 1/3;
		grid-row: 3/3;
	}
	.nav-2 {
		grid-area: About us;
		text-transform: uppercase;
		grid-column: 3/6;
		grid-row: 3/3;
	}
	.nav-3 {
		grid-area: Search;
		grid-column: 1/6;
		grid-row: 2/2;
	}
	.nav-4 {
		grid-area: Icons;
		grid-column: 1/6;
		grid-row: 4/4;
		font-size: 12px;
		word-spacing: 15px;
	}

	.top-header-container {
		display: grid;
		row-gap: 25px;
		grid-template-rows: 100px;
		grid-template-columns: 100px 100px 100px 100px;
		justify-content: center;
		text-align: center;
	}

	header div a:hover {
		text-decoration-line: underline;
		color: #707070;
	}
}

/* CONTACT US.html */

/* The format of the sub nav*
li {
	display: inline-block;
	padding-top: 20px;
}
/* Sub nav*
li a {
	font-style: italic;
	margin: 0px 10px 0px 0px;
	color: #000000;
	text-decoration: none;
}
/* "Home and >" sub navigation*

ul li:nth-child(1) {
	margin: 0px 0px 0px 50px;
	font-weight: bold;
}
/* "Current" sub Navigation*
ul li:nth-child(2) {
	margin: 0px 0px 0px 5px;
	font-weight: bold;
	text-decoration: underline;
}

/* Contact information section*/
.fourth-container {
	max-width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

form input {
	width: 350px;
	height: 30px;
	text-align: center;
	background-color: rgba(220, 220, 220, 0.582);
	border: 1px solid #000;
}

/* Heading Text*/
.contact-info h1 {
	font-size: 40px;
	margin: 0 auto;
}
/* Child container 1*/
.contact-info {
	display: flex;
	flex: 2;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 700px;
	height: 500px;
	margin: 30px 0px 0px 0px;
	background-color: rgba(220, 220, 220, 0.5);
	font-size: 20px;
	border: 1px solid #000000;
	border-right: 0;
}

/* Child of container 1*/
.p1 {
	margin-right: 100px;
	align-self: flex-end;
	width: 30%;
}
.p1 p:first-child {
	font-weight: bold;
}

.location-map {
	align-self: flex-start;
	margin-top: -310px;
	margin-left: 70px;
	width: 250px;
}

#google-map {
	width: 320px;
	height: auto;
}

/* Social media icons*/
.social-media {
	align-self: center;
	width: 30%;
}

/* CONTACT US Form section*/

/* Heading Text*/
.contact-us h1 {
	font-size: 40px;
}
/* Child container 2*/
.contact-us {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	flex: 1;
	height: 500px;
	width: 700px;
	margin: 30px 0px 0px 0px;
	background-color: rgba(220, 220, 220, 0.5);
	border: 1px solid #000000;
}
/* Child of container 2*/
.form1 {
	margin: 8px auto;
}

.form1 > input:not(#submit) {
	border: 0;
}

textarea {
	text-align: center;
	width: 350px;
	height: 140px;
	background-color: rgba(220, 220, 220, 0.582);
	border: 0;
}

#search {
	border: 1px solid #000;
}

.form1 input[type="submit"] {
	width: 100px;
	border: 1px solid #000;
}

main form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* To remove the map*/
@media (max-width: 1249px) {
	main div img {
		display: none;
	}
	.location-map {
		display: none;
	}
	.p1 {
		margin: 0 auto;
		align-self: center;
		text-align: center;
		width: 60%;
	}
	.social-media {
		align-self: center;
		text-align: center;
		margin: 0 auto;
		width: 30%;
	}
	/* About us section image */
}
/* ABOUT US SECTION */
.fifth-container {
	display: grid;
	grid-template-columns: repeat(auto-fill);
	grid-template-rows: repeat(auto-fill);
}

.about-us h1 {
	font-size: 40px;
}

.about-us {
	grid-area: h1;
	grid-row: 1/2;
	grid-column: 1/4;
	margin: 40px 40px;
}
.about-us-image img {
	width: 100%;
	height: 100%;
	border-radius: 105px;
}

.about-us-image {
	grid-area: image;
	max-width: 500px;
	max-height: auto;
	grid-row: 2/3;
	grid-column: 1/3;
	margin: 0 auto;
}

.about-us-paragraph {
	grid-area: paragraph;
	grid-row: 2/3;
	grid-column: 3/4;
	max-width: 500px;
	margin: 0 auto;
	background-color: rgba(225, 225, 225, 0.5);
	border-radius: 185px;
	line-height: 180%;
	padding: 75px 50px 0px 50px;
}

.about-us-keywords {
	grid-area: keywords;
	grid-row: 3/4;
	grid-column: 1/4;
	margin-top: 60px;
}

.about-us-keywords h3 {
	color: #090e52;
	font-size: 30px;
	text-align: center;
	background-color: rgba(225, 225, 225, 0.5);
	border-radius: 105px;
	width: 24%;
	margin: 0 auto;
}

.about-us-keywords h4 {
	color: #115e1e;
	font-size: 30px;
	text-align: center;
	background-color: rgba(225, 225, 225, 0.5);
	border-radius: 185px;
	width: 16%;
	margin: 0 auto;
}

@media (max-width: 1109px) {
	.about-us {
		grid-area: h1;
		grid-row: 1/2;
		grid-column: 1/4;
		margin: 0 auto;
	}
	.about-us-image {
		grid-area: image;
		max-width: 500px;
		max-height: 400px;
		border-radius: 105px;
		grid-row: 2/3;
		grid-column: 1/4;
		margin: 0 auto;
	}
	.about-us-paragraph {
		grid-area: paragraph;
		grid-row: 3/4;
		grid-column: 2/3;
		background-color: rgba(225, 225, 225, 0.5);
		border-radius: 105px;
		max-width: 500px;
		margin: 60px auto; /* ? */
		padding: 40px 40px 40px 50px;
		line-height: 180%;
		overflow: auto;
	}

	.about-us-keywords {
		grid-area: keywords;
		grid-row: 4/5;
		grid-column: 1/4;
		margin: 0 auto;
	}

	.about-us-keywords h3 {
		color: #090e52;
		font-size: 25px;
		text-align: center;
		background-color: rgba(225, 225, 225, 0.5);
		border-radius: 105px;
		width: 70%;
	}

	.about-us-keywords h4 {
		color: #115e1e;
		font-size: 25px;
		text-align: center;
		background-color: rgba(225, 225, 225, 0.5);
		border-radius: 185px;
		width: 60%;
	}
}
/* MEN SECTION JACKETS */

.navigation-for-jacket {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: 50px auto;
	max-width: 60%;
}

#sort,
#brand,
#size,
#price,
#color {
	width: 100px;
	border-radius: 105px;
	padding: 5px 10px;
	background-color: rgba(225, 225, 225, 0.308);
	font-weight: bold;
}

#price {
	letter-spacing: 2px;
}
/* Image size for jackets */
main div img:not(#google-map) {
	max-width: 350px;
	height: 300px;
}

.jacket-list-container {
	display: grid;
	grid-template-rows: 300px 300px;
	justify-content: space-around;
	row-gap: 150px;
	grid-template-areas:
		"Jacket1 Jacket2 Jacket3"
		"Jacket4 Jacket5 Jacket6";
}

.jacket1 {
	position: relative;
	grid-area: Jacket1;
}
.jacket2 {
	position: relative;
	grid-area: Jacket2;
}
.jacket3 {
	position: relative;
	grid-area: Jacket3;
}
.jacket4 {
	position: relative;
	grid-area: Jacket4;
}
.jacket5 {
	position: relative;
	grid-area: Jacket5;
}
.jacket6 {
	position: relative;
	grid-area: Jacket6;
}

#information {
	position: absolute;
	top: 250px;
	width: 100%;
	background-color: rgba(63, 57, 57, 0.747);
	color: rgb(225, 225, 225);
	text-align: center;
	line-height: 26px;
	letter-spacing: 1.5px;
}

#heart-icon {
	position: absolute;
	font-size: 10px;
	top: 10px;
	right: 14px;
}
