@font-face {
	font-family: "Faustina";
	src: url("../Fonts/Faustina-VF-Beta-Regular.ttf.woff") format("truetype");
}

/* Header Section */
header div a {
	display: inline-block;
	background-color: #eee9e3;
	color: black;
	font-style: bold;
	font-size: 24px;
	text-decoration: none;
}
.top-header-container {
	border: #707070 solid;
	display: flex;
	justify-content: baseline;
	flex-wrap: wrap;
	background-color: #f3f0ec;
}
.nav-0 /* Logo */ {
	margin: 0;
	order: 1;
	min-width: 170px;
	max-width: 170px;
	min-height: 70px;
	max-height: 70px;
}

.nav-1 /* Contact us */ {
	text-transform: uppercase;
	margin: 0;
	order: 2;
	min-width: 200px;
	max-width: 200px;
	min-height: 70px;
	max-height: 70px;
}

header div a:hover {
	text-decoration-line: underline;
	color: #707070;
}
.nav-2 /* About us */ {
	text-transform: uppercase;
	margin: 0;
	order: 4;
	min-width: 180px;
	max-width: 180px;
	min-height: 70px;
	max-height: 70px;
}
.nav-3 /* Search box */ {
	margin: 0;
	order: 3;
	min-width: 550px;
	max-width: 550px;
	min-height: 70px;
	max-height: 70px;
}

.nav-4 /* Icon Section in Nav */ {
	margin: 0px 0px 0px 80px;
	order: 5;
	min-width: 200px;
	max-width: 200px;
	min-height: 70px;
	max-height: 70px;
}
.nav-4 {
	position: relative;
	top: 15px;
}
form input {
	position: absolute;
	width: 400px;
	height: 25px;
	text-align: center;
	border-radius: 100px;
	margin-top: 20px;
	margin-left: 65px;
}

form i {
	position: relative;
	left: 425px;
	top: 27px;
}

/* Positioning of Nav section*/
header div img /* Logo size */ {
	min-width: 75px;
	height: 40px;
	position: relative;
	top: 15px;
	left: 43px;
}

header div a {
	position: relative;
	text-align: center;
	top: 15px;
	left: 30px;
}

/* Main Section images */

main {
	display: flex;
	background-image: url("../Images/Rainy\ days\ background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	min-height: 900px;
	max-width: 100%;
}

/* Main section Button */
.main-container {
	display: flex;
	margin: 0 auto;
	margin-top: 440px;
}

main section div a {
	font-family: "Faustina", Verdana, Tahoma, sans-serif;
	background-color: #000000;
	font-size: 35px;
	color: #fafafa;
	border-radius: 243px;
	padding: 24px 50px;
	margin: 0px 80px 0px 100px;
}
main section div a:hover {
	background-color: #707070;
}
.button a {
	padding: 24px 60px;
}

.button {
	display: grid;
	grid-column-gap: 340px;
	grid-template-columns: 1px;
	grid-template-rows: 1px;
	grid-template-areas: "Men Woman";
}

/* Mobile version */

@media (max-width: 1100px) {
	.top-header-container {
		border: #707070 solid;
		display: flex;
		flex-wrap: wrap;
		background-color: #f3f0ec;
	}
	.nav-0 /* Logo */ {
		margin: 0 auto;
		order: 1;
		min-width: 170px;
		max-width: 170px;
		min-height: 70px;
		max-height: 70px;
	}

	.nav-1 /* Contact us */ {
		text-transform: uppercase;
		margin: 0 auto;
		order: 2;
		min-width: 200px;
		max-width: 200px;
		min-height: 70px;
		max-height: 70px;
	}

	header div a:hover {
		text-decoration-line: underline;
		color: #707070;
	}
	.nav-2 /* About us */ {
		text-transform: uppercase;
		margin: 0 auto;
		order: 3;
		min-width: 180px;
		max-width: 180px;
		min-height: 70px;
		max-height: 70px;
	}
	.nav-3 /* Search box */ {
		margin: 0 auto;
		order: 5;
		min-width: 550px;
		max-width: 550px;
		min-height: 70px;
		max-height: 70px;
	}

	.nav-4 /* Icon Section in Nav */ {
		margin: 0px 0px 0px 50px;
		order: 4;
		min-width: 200px;
		max-width: 200px;
		min-height: 70px;
		max-height: 70px;
	}
	.nav-4 {
		position: relative;
		top: 15px;
	}
	form input {
		position: absolute;
		max-width: 0 auto;
		height: 25px;
		text-align: center;
		border-radius: 100px;
		margin-top: 20px;
		margin-left: 65px;
	}

	form i {
		position: relative;
		left: 435px;
		top: 27px;
	