@import url("https://fonts.googleapis.com/css2?family=Faustina:wght@400;500;700&display=swap");
* {
	margin: 0%;
	padding: 0%;
	font-family: "Faustina", serif;
}

/* Header Section */
h1 {
	margin: 0 auto;
	text-align: center;
	font-size: 150px;
}

h2 {
	margin: 0 auto;
	text-align: center;
	font-size: 40px;
}

header div a {
	color: black;
	font-size: 24px;
	font-weight: bold;
	text-emphasis: nowrap;
	text-decoration: none;
}
.top-header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;
	margin: 0 auto;
}
.nav-0 /* Logo */ {
	border: #000000 solid;
	order: 1;
}

.nav-1 /* Contact us */ {
	border: #000000 solid;
	order: 2;
	text-transform: uppercase;
}

header div a:hover {
	text-decoration-line: underline;
	color: #707070;
}
.nav-2 /* About us */ {
	border: #000000 solid;
	text-transform: uppercase;
	order: 4;
}
.nav-3 /* Search box */ {
	border: #000000 solid;
	order: 3;
}

.nav-4 /* Icon Section in Nav */ {
	border: #000000 solid;
	order: 5;
}
form input {
	min-width: 350px;
	max-height: 25px;
	text-align: center;
	border-radius: 100px;
}

/* Positioning of Nav section*/
header div img /* Logo size */ {
	width: 100px;
}

header div a {
	text-align: center;
}

/* Main Section images */

body {
	position: relative;
	background-image: url("../Images/Background\ Photo\ with\ blur.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	width: 100vw;
}

/* FIX THIS ASAP */
/* Main section Button */

.second-container {
	position: relative;
	top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
}
.third-container {
	position: relative;
	top: 200px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.woman-button {
	font-family: "Faustina", serif;
	background-color: #000000;
	font-size: 35px;
	border-radius: 243px;
	padding: 24px 40px;
}
.men-button {
	font-family: "Faustina", serif;
	background-color: #000000;
	font-size: 35px;
	border-radius: 243px;
	padding: 24px 70px;
}
main section div a {
	text-decoration: none;
	color: #fafafa;
}

main section div:hover {
	background-color: #707070;
}

/* Mobile version */
